body{
    padding: 20px;
    margin: 20px;
    background-color: lightslategrey;
}
.section_1{
    text-align: center;
    height: 400px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 120px;
}

img{
    height: 150px;
}
